# Лабораторная работа №1

Лабораторную работу необходимо выполнять в ***Google Colab***. Результат работы (в виде ссылки на notebook) выслать письмом на litvinov.vg@ssau.ru. В теме письма указывать ФИО полностью.

Для выполнения задания необходимо подобрать корпус текстов (художественных) на английском языке. Объем корпуса должен составлять не менее $3 \cdot 10^7$ символов. Далее все действия будут выполняться над выбранными данными. Для отладки алгоритмов лучше использовать не весь корпус, а лишь его часть.

In [1]:
CORPUS_FILENAME = 'yandex_corpus.txt'

In [2]:
with open(CORPUS_FILENAME, 'r', encoding='utf8') as f:
    text_ = f.read()

In [3]:
len(text_)

130838289

#### Шаг №1
Заменить все числа, которые представлены цифрами, их текстовым представлением (т.е. прописью). (1 = one, 23 = twenty three, 1042 = one thousand forty two, и т.п.). Методы библиотек не использовать, алгоритм необходимо написать самостоятельно.

In [4]:
LESS_THAN_TWENTY = [
    'zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten',
    'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'
]

TENTHS_LESS_THAN_HUNDRED = [
    'zero', 'ten', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'
]

PREFIXES_LLION = ['', 'mi', 'bi', 'tri', 'quadri', 'quinti', 'sexti', 'septi', 'octi']


def transform_triple(n: int):
    
    if n == 0:
        return 'zero'
    
    ans = []
    
    hundreds = n // 100
    two_dig = n % 100
    tens = two_dig // 10
    ones = two_dig % 10

    if hundreds > 0:
        ans.append(LESS_THAN_TWENTY[hundreds])
        ans.append('hundred')
    if 0 < two_dig < 20:
        ans.append(LESS_THAN_TWENTY[two_dig])
    elif two_dig >= 20:
        ans.append(TENTHS_LESS_THAN_HUNDRED[tens])
        if ones:
            ans.append(LESS_THAN_TWENTY[ones])
    return ' '.join(ans)

def transform_number(n: int):
    
    if n == 0:
        return 'zero'
    
    ans = []
    s = str(n)
    triples = [int(s[::-1][i:i+3][::-1]) for i in range(0, len(s), 3)][::-1]
    for i in range(len(triples)):
        triple = triples[-i-1]
        if triple == 0:
            continue
        if i == 0:
            ans.append(transform_triple(triple))
        elif i == 1:
            ans.append(f'{transform_triple(triple)} thousand')
        elif i < 10:
            ans.append(f'{transform_triple(triple)} {PREFIXES_LLION[i-1]}llion')
        else:
            raise ValueError()
    return ' '.join(ans[::-1])

In [5]:
transform_number(2_880_001_000)

'two billion eight hundred eighty million one thousand'

In [6]:
transform_number(18_446_744_073_709_551_615)

'eighteen quintillion four hundred forty six quadrillion seven hundred forty four trillion seventy three billion seven hundred nine million five hundred fifty one thousand six hundred fifteen'

In [7]:
def replace_numbers(text: str):
    
    ans = []
    cached_number = ''
    last_was_digit = False
    for ch in text:
        if ch.isdigit():
            if ch not in '0123456789':
                continue            
            cached_number += ch
            last_was_digit = True
            continue
        else:
            last_was_digit = False
        
        if not last_was_digit and len(cached_number) > 0:
            ans.append(transform_number(int(cached_number)))
            cached_number = ''
        
        ans.append(ch)
    
    return ''.join(ans)

In [8]:
replace_numbers('99 red balloons | in the year of 39 | 74 75 | and I would go 500 miles')

'ninety nine red balloons | in the year of thirty nine | seventy four seventy five | and I would go five hundred miles'

In [9]:
text_ = replace_numbers(text_)

In [10]:
text_.count('0')

0

#### Шаг №2
Преобразовать текст к нижнему или верхнему регистру.

In [11]:
text_ = text_.lower()

In [12]:
print(text_[:500])

this new development in harry's character may be a disappointment to those readers who enjoyed his old vindictive ways, but it also reinforces the position of pro-potter people who do not see beneath the surface appearance of the characters and plots.
a nondisclosure clause in the final settlement (the band is back on elektra) prevents ulrich, an irrepressible motormouth, from providing any juicy contractual details.
when you're eighteen or nineteen years old, you have that gang mentality in you

#### Cropping text

In [13]:
text = text_[:3*10**7]

#### Шаг №3
Произвести токенезацию (токенами выступают слова), не учитывая знаки препинания (т.е. необходимо разбить текст на токены (лексемы)):
* С помощью nltk.tokenize.RegexpTokenizer (тут необходимо вспомнить регулярные выражения [posix](https://ru.wikibooks.org/wiki/%D0%A0%D0%B5%D0%B3%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D1%8B%D0%B5_%D0%B2%D1%8B%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F)).

In [14]:
from nltk.tokenize import RegexpTokenizer

In [15]:
tokenizer = RegexpTokenizer('\w+')

In [16]:
tokenizer.tokenize(text[:500])

['this',
 'new',
 'development',
 'in',
 'harry',
 's',
 'character',
 'may',
 'be',
 'a',
 'disappointment',
 'to',
 'those',
 'readers',
 'who',
 'enjoyed',
 'his',
 'old',
 'vindictive',
 'ways',
 'but',
 'it',
 'also',
 'reinforces',
 'the',
 'position',
 'of',
 'pro',
 'potter',
 'people',
 'who',
 'do',
 'not',
 'see',
 'beneath',
 'the',
 'surface',
 'appearance',
 'of',
 'the',
 'characters',
 'and',
 'plots',
 'a',
 'nondisclosure',
 'clause',
 'in',
 'the',
 'final',
 'settlement',
 'the',
 'band',
 'is',
 'back',
 'on',
 'elektra',
 'prevents',
 'ulrich',
 'an',
 'irrepressible',
 'motormouth',
 'from',
 'providing',
 'any',
 'juicy',
 'contractual',
 'details',
 'when',
 'you',
 're',
 'eighteen',
 'or',
 'nineteen',
 'years',
 'old',
 'you',
 'have',
 'that',
 'gang',
 'mentality',
 'in',
 'you']

* С помощью nltk.word_tokenize.

In [17]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [18]:
import string
tokens_with_punctuation = nltk.word_tokenize(text[:500])
list(filter(lambda token: token not in string.punctuation, tokens_with_punctuation))

['this',
 'new',
 'development',
 'in',
 'harry',
 "'s",
 'character',
 'may',
 'be',
 'a',
 'disappointment',
 'to',
 'those',
 'readers',
 'who',
 'enjoyed',
 'his',
 'old',
 'vindictive',
 'ways',
 'but',
 'it',
 'also',
 'reinforces',
 'the',
 'position',
 'of',
 'pro-potter',
 'people',
 'who',
 'do',
 'not',
 'see',
 'beneath',
 'the',
 'surface',
 'appearance',
 'of',
 'the',
 'characters',
 'and',
 'plots',
 'a',
 'nondisclosure',
 'clause',
 'in',
 'the',
 'final',
 'settlement',
 'the',
 'band',
 'is',
 'back',
 'on',
 'elektra',
 'prevents',
 'ulrich',
 'an',
 'irrepressible',
 'motormouth',
 'from',
 'providing',
 'any',
 'juicy',
 'contractual',
 'details',
 'when',
 'you',
 "'re",
 'eighteen',
 'or',
 'nineteen',
 'years',
 'old',
 'you',
 'have',
 'that',
 'gang',
 'mentality',
 'in',
 'you']

In [19]:
# too slow
# tokens_with_punctuation = nltk.word_tokenize(text)
# tokens = list(filter(lambda token: token not in string.punctuation, tokens_with_punctuation))

In [20]:
tokens = tokenizer.tokenize(text)

In [21]:
len(tokens)

4934936

#### Шаг №4
Произвести частотный анализ слов. Методы библиотек не использовать, т.е. алгоритм необходимо написать самостоятельно. Cохранить результат в выходной csv файл в порядке убывания частот. Формат выходного файла:

| Word | Count |
| --- | --- |
| cat | 1000 |
| dog | 300 |
| .... | .... |
| butterfly | 34 |

In [22]:
counter = dict()
for t in tokens:
    counter[t] = counter.get(t, 0) + 1

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(data=list(counter.items()), columns=['Word', 'Count'])
df = df.sort_values(by='Count', ascending=False, ignore_index=True)
df

               Word   Count
0               the  329140
1                of  181265
2               and  155180
3                to  134349
4                in  109490
...             ...     ...
99044          ests       1
99045    quantitive       1
99046     martialis       1
99047        kabuto       1
99048  frantskevich       1

[99049 rows x 2 columns]

In [25]:
df.to_csv('word_counts.csv', index=False)

#### Шаг №5
Произвести частотный анализ [N-грам](https://en.wikipedia.org/wiki/N-gram) и сохранить в выходной файл в порядке убывания частот (формат файла аналогичен предыдущему примеру, за исключением столбца Word, который заменяется на N-gram. В этой задаче можно использовать готовые библиотеки (смотрим состав библиотеки [NLTK](https://www.nltk.org/)). Формат выходного файла:

| bigram | | Count |
| --- | --- | --- |
| cat | is | 1000 |
| is | a | 300 |
| .... | .... | .... |
| the | fish | 34 |

* Биграм

In [26]:
from nltk import ngrams

In [27]:
from collections import Counter

In [28]:
bigrams = list(ngrams(tokens, 2))

In [29]:
bigrams_counter = Counter(bigrams)

In [30]:
df = pd.DataFrame(data=[(p1, p2, c) for (p1, p2), c in bigrams_counter.items()], columns=['bigram', '', 'Count'])
df = df.sort_values(by='Count', ascending=False, ignore_index=True)
df

             bigram           Count
0                of      the  48335
1                in      the  29129
2                to      the  16834
3                on      the  11849
4               and      the  11255
...             ...      ...    ...
1464143     visitor       is      1
1464144  beneficial       it      1
1464145   molecular    doors      1
1464146       doors       if      1
1464147      london  brought      1

[1464148 rows x 3 columns]

In [31]:
df.to_csv('bigram_counts.csv', index=False)

* 3-грам

In [32]:
trigrams = list(ngrams(tokens, 3))

In [33]:
trigrams_counter = Counter(trigrams)

In [34]:
df = pd.DataFrame(data=[(p1, p2, p3, c) for (p1, p2, p3), c in trigrams_counter.items()], columns=['trigram', '', '', 'Count'])
df = df.sort_values(by='Count', ascending=False, ignore_index=True)
df

           trigram                        Count
0         thousand       nine    hundred   6458
1              one   thousand       nine   6354
2               in        one   thousand   2672
3               in        two   thousand   2446
4             nine    hundred     ninety   2401
...            ...        ...        ...    ...
3503267         is         to      speak      1
3503268   language         of  scripture      1
3503269         of  scripture       they      1
3503270  scripture       they  hearkened      1
3503271       will       cast       away      1

[3503272 rows x 4 columns]

In [35]:
df.to_csv('trigram_counts.csv', index=False)

#### Шаг №6 (аналогично шагу 3)
Произвести токенезацию, но уже учитывая знаки препинания:
* С помощью nltk.tokenize.RegexpTokenizer.

In [36]:
tokenizer = RegexpTokenizer('[a-zA-Z0-9_-]+|[()]|\S+')

In [37]:
tokenizer.tokenize(text[:500])

['this',
 'new',
 'development',
 'in',
 'harry',
 "'s",
 'character',
 'may',
 'be',
 'a',
 'disappointment',
 'to',
 'those',
 'readers',
 'who',
 'enjoyed',
 'his',
 'old',
 'vindictive',
 'ways',
 ',',
 'but',
 'it',
 'also',
 'reinforces',
 'the',
 'position',
 'of',
 'pro-potter',
 'people',
 'who',
 'do',
 'not',
 'see',
 'beneath',
 'the',
 'surface',
 'appearance',
 'of',
 'the',
 'characters',
 'and',
 'plots',
 '.',
 'a',
 'nondisclosure',
 'clause',
 'in',
 'the',
 'final',
 'settlement',
 '(',
 'the',
 'band',
 'is',
 'back',
 'on',
 'elektra',
 ')',
 'prevents',
 'ulrich',
 ',',
 'an',
 'irrepressible',
 'motormouth',
 ',',
 'from',
 'providing',
 'any',
 'juicy',
 'contractual',
 'details',
 '.',
 'when',
 'you',
 "'re",
 'eighteen',
 'or',
 'nineteen',
 'years',
 'old',
 ',',
 'you',
 'have',
 'that',
 'gang',
 'mentality',
 'in',
 'you']

* С помощью nltk.word_tokenize.

In [38]:
nltk.word_tokenize(text[:500])

['this',
 'new',
 'development',
 'in',
 'harry',
 "'s",
 'character',
 'may',
 'be',
 'a',
 'disappointment',
 'to',
 'those',
 'readers',
 'who',
 'enjoyed',
 'his',
 'old',
 'vindictive',
 'ways',
 ',',
 'but',
 'it',
 'also',
 'reinforces',
 'the',
 'position',
 'of',
 'pro-potter',
 'people',
 'who',
 'do',
 'not',
 'see',
 'beneath',
 'the',
 'surface',
 'appearance',
 'of',
 'the',
 'characters',
 'and',
 'plots',
 '.',
 'a',
 'nondisclosure',
 'clause',
 'in',
 'the',
 'final',
 'settlement',
 '(',
 'the',
 'band',
 'is',
 'back',
 'on',
 'elektra',
 ')',
 'prevents',
 'ulrich',
 ',',
 'an',
 'irrepressible',
 'motormouth',
 ',',
 'from',
 'providing',
 'any',
 'juicy',
 'contractual',
 'details',
 '.',
 'when',
 'you',
 "'re",
 'eighteen',
 'or',
 'nineteen',
 'years',
 'old',
 ',',
 'you',
 'have',
 'that',
 'gang',
 'mentality',
 'in',
 'you']

In [39]:
# too slow
# tokens = nltk.word_tokenize(text)

In [40]:
tokens = tokenizer.tokenize(text)

In [41]:
len(tokens)

5433010

#### Шаг №7 (аналогично шагу 4)
Произвести частотный анализ слов.

In [42]:
counter = dict()
for t in tokens:
    counter[t] = counter.get(t, 0) + 1

In [43]:
df = pd.DataFrame(data=list(counter.items()), columns=['Word', 'Count'])
df = df.sort_values(by='Count', ascending=False, ignore_index=True)
df

               Word   Count
0               the  328131
1                 ,  243427
2                 .  206210
3                of  181033
4               and  154794
...             ...     ...
127724      dimness       1
127725    "hegemon"       1
127726        "nest       1
127727       lattes       1
127728  sub-culture       1

[127729 rows x 2 columns]

In [44]:
df.to_csv('word_counts_punct.csv', index=False)

#### Шаг №8 (аналогично шагу 5)
Произвести частотный анализ N-грам.

* Биграм

In [45]:
bigrams = list(ngrams(tokens, 2))

In [46]:
bigrams_counter = Counter(bigrams)

In [47]:
df = pd.DataFrame(data=[(p1, p2, c) for (p1, p2), c in bigrams_counter.items()], columns=['bigram', '', 'Count'])
df = df.sort_values(by='Count', ascending=False, ignore_index=True)
df

             bigram           Count
0                of      the  48201
1                in      the  29048
2                 .      the  28060
3                 ,      and  23623
4                 ,      the  18034
...             ...      ...    ...
1385736  fictitious  lawyers      1
1385737     lawyers       or      1
1385738       light   repast      1
1385739      repast      off      1
1385740       their       us      1

[1385741 rows x 3 columns]

In [48]:
df.to_csv('bigram_counts_punct.csv', index=False)

* 3-грам

In [49]:
trigrams = list(ngrams(tokens, 3))

In [50]:
trigrams_counter = Counter(trigrams)

In [51]:
df = pd.DataFrame(data=[(p1, p2, p3, c) for (p1, p2, p3), c in trigrams_counter.items()], columns=['trigram', '', '', 'Count'])
df = df.sort_values(by='Count', ascending=False, ignore_index=True)
df

          trigram                      Count
0        thousand      nine   hundred   6457
1             one  thousand      nine   6136
2              in       one  thousand   2664
3               .        it        is   2569
4              in       two  thousand   2436
...           ...       ...       ...    ...
3565560  breeders      have      been      1
3565561      been  breeding  bobtails      1
3565562  breeding  bobtails     there      1
3565563  bobtails     there       for      1
3565564      will      cast      away      1

[3565565 rows x 4 columns]

In [52]:
df.to_csv('trigram_counts_punct.csv', index=False)

#### Шаг №9 (используя результаты 5-го шага)
Произвести генерацию текса на основе частот биграм.

In [53]:
# вставьте код здесь

In [54]:
from collections import Counter

import numpy as np
import pandas as pd

from nltk import ngrams
from nltk.tokenize import RegexpTokenizer

In [55]:
def choice(source: np.ndarray, weights: np.ndarray, rule='random'):
    # print(np.sum(weights))
    if np.sum(weights) == 0:
        raise ValueError("Cannot choose anymore")
        
    if rule == 'max':
        return source[np.argmax(weights)]
    
    prob = weights / np.sum(weights)
    # print(np.sum(prob))
    return np.random.choice(source, p=prob)

In [56]:
text = text_[:30*10**6]

In [57]:
tokenizer = RegexpTokenizer('[a-zA-Z0-9_-]+|[().\/$"]|\S+')

In [58]:
tokens = tokenizer.tokenize(text)

In [59]:
bigrams = list(ngrams(tokens, 2))
bigrams_counter = Counter(bigrams)
df = pd.DataFrame(data=[(p1, p2, c) for (p1, p2), c in bigrams_counter.items()], columns=['bigram', '', 'Count'])
df = df.sort_values(by='Count', ascending=False, ignore_index=True)
df

              bigram            Count
0                 of       the  48207
1                 in       the  29071
2                  .       the  28460
3                  ,       and  23758
4                  ,       the  18158
...              ...       ...    ...
1366097   peripheral      area      1
1366098  surrounding  cultures      1
1366099     cultures     fills      1
1366100        fills   several      1
1366101        their        us      1

[1366102 rows x 3 columns]

In [60]:
total_bigrams_count = df['Count'].sum()

In [61]:
word_by_index = np.unique(tokens)

index_by_word = {}
for i in range(len(word_by_index)):
    index_by_word[word_by_index[i]] = i

In [62]:
freq_matrix = np.zeros(shape=(len(word_by_index), len(word_by_index)), dtype=np.float16)
for i, (word1, word2, count) in df.iterrows():
    try:
        freq_matrix[index_by_word[word1], index_by_word[word2]] = count
    except:
        print(word1, word2, count)
freq_matrix /= total_bigrams_count

rule = 'max'

start_word = 'of'

print(start_word, end=' ')

start_word_id = index_by_word[start_word]

word_id = start_word_id
next_id = None

ans_ids = []
# freq_matrix_ = np.array(freq_matrix)

try:
    for it in range(300):
        row = freq_matrix[word_id]
        nonzero_locations = np.where(row)[0]
        next_id = choice(source=nonzero_locations, weights=row[nonzero_locations], rule=rule)
        if rule == 'max':
            freq_matrix[word_id, next_id] = 0  # one pair can only be used once
        ans_ids.append(next_id)
        print(word_by_index[next_id], end=' ')
        word_id = next_id
except ValueError as e:
    print()
    print("STOP:", e)

of the same time , and the world . the first time . in the most of a new york , the united states , but the new and a few years . it is a lot of this is the russian federation . this year . " the government of their own . i have been a number of all the state of our own , which is not only the country . we have a result of his own country , in a very important to the other countries . but it was a good , as a great britain , it . a single , a large number , or the international community . if you can be a little bit of its own way to be the one thousand nine hundred ninety nine . and other hand , we are not be able to a small and to make a long as the right to do not to have to take a year , i was the company , you are the two thousand eight hundred fifty six . he was not a more than the following the end of these are in one hundred eighty nine , to use of two . as well as an important for the last year of an international organizations , including the time to get the main thing is to see the next to provide a special rapporteur on the national and in two hundred seventy five . they are also be used to this , with the second , he had been the number . for a ) . there is that the best to ensure that is also the fact that it 's a . one of them . you have the european union . . when the

In [63]:
freq_matrix[...] = 0
for i, (word1, word2, count) in df.iterrows():
    try:
        freq_matrix[index_by_word[word1], index_by_word[word2]] = count
    except:
        print(word1, word2, count)
freq_matrix /= total_bigrams_count
        
rule = 'random'

start_word = 'of'

print(start_word, end=' ')

start_word_id = index_by_word[start_word]

word_id = start_word_id
next_id = None

ans_ids = []
# freq_matrix_ = np.array(freq_matrix)

try:
    for it in range(300):
        row = freq_matrix[word_id]
        nonzero_locations = np.where(row)[0]
        next_id = choice(source=nonzero_locations, weights=row[nonzero_locations], rule=rule)
        if rule == 'max':
            freq_matrix[word_id, next_id] = 0  # one pair can only be used once
        ans_ids.append(next_id)
        print(word_by_index[next_id], end=' ')
        word_id = next_id
except ValueError as e:
    print()
    print("STOP:", e)

of the highest known vasily alexanyan , shampoo , but as unit to be at least as well should be a multifaceted than triple turnover has tried to higher life in order to the universe and innovation forum and putin 's life and means not know . built by our inner life is a muscular exertion made no effect of them priority areas that further consideration of orthopaedics at the crowded minibus . the existence of such risks . the number two . on the duty of prayer that 's guidance and risk diversification of the region . after a city pretentiously named damaris , making use , she could indeed arrive at the father are asked to return from the polling places women had predicted to mercy of nato 's findings contained in midnovember , as these two churches . the body implemented with legal and graduate student scientific and policies set the author of foreign mission , at this to light , udf , almost synonymous with the thirty six in the restoration of the latter commented on behalf . zoom whitening . complete . some one one thousand nine ) take on the game itself in height of being considered in persons . be verified experimentally determine evacuation day when there . the cftc has summed up his / two thousand years ago , is left in law , for the artread function . . one . contradictions and other cases and negligence of a list of the attempt by bashavtotrans , bricks , and at the chinese police for example , they 're willing to . law of time as for example , with russia ? this group showed a single set . put before they were almost unconscious ," said to do not accidental submissions that

In [64]:
freq_matrix.size

14339823001